{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/images/profile.png' | relative_url }}">
<meta name="theme-color" content="#214f9b">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">

{% unless page.layout == 'profile' %}
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    packages: { '[+]': ['noerrors'] }
  },
  loader: { load: ['[tex]/noerrors'] }
};
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" id="MathJax-script" defer></script>

{% endunless %}

<!-- end custom head snippets -->
